<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>App</title>

<style>

* {
     box-sizing: border-box;
    margin:0;
    padding:0;
}

body {

    display: flex;
    justify-content: center;
    align-items: center;
    background: #eceff4;
}

ul {
list-style:none;
margin:0;
padding: 0;
}

li {
    cursor: pointer;
    padding: 1em 20em 1em 1em;
    background: #e3e7ef;
}

li:nth-child(odd) {
  background: #dbdfe7;
}

li:hover {
  background: #b2bbcb;
}

li.done {
  text-decoration: line-through;
}

.app {
    margin-top: 10em;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add {
    display:flex;
    align-items: center;
    margin-bottom: 5em;
}


input {
    background: transparent;
    border: none;
    outline: 1px solid black;
    padding: 0.5em 0.25em;
    font-size: 1.0rem;
}

.add-btn {
padding: 1em 2em;
  border-radius: 0;
  cursor:pointer;
  border: 0;
      background: rgb(87, 176, 255);
      color: white;
      margin-left: 1em;
      text-shadow: 1px 1px 2px grey;
      font-weight: bold;
}

.add-btn:hover {
background: rgb(70, 160, 244);
}


</style>
    </head>
    <body>
        <div class="app">
            <form class="add"  action="/" method="post">


                <input name="task">

                </input>
                <button class="add-btn" type="submit">
                    Add
                </button>
            </form>
<ul>

  <% for (const task of model) { %>
    <li class="<%= task.done ? 'done' : "" %>">
        <%= task.value %>
    </li>
  <% } %>

</ul>
        </div>
    </body>
</html>
